.highlight,
pre.highlight {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
}

.highlight pre {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
}

body, p {
  font-size: 1.1rem;
}


