{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<script>
document.addEventListener("DOMContentLoaded", function() {
  const searchInput = document.getElementById('search-input');
  const urlHash = window.location.hash.substring(1);

  if (urlHash) {
    searchInput.focus(); // Đưa con trỏ vào ô tìm kiếm

    // Hàm nhập từng ký tự
    function typeText(element, text) {
      text.split('').forEach((char) => {
        const keydownEvent = new KeyboardEvent('keydown', { bubbles: true, key: char });
        const keypressEvent = new KeyboardEvent('keypress', { bubbles: true, key: char });
        const inputEvent = new InputEvent('input', { bubbles: true, inputType: 'insertText', data: char });
        const keyupEvent = new KeyboardEvent('keyup', { bubbles: true, key: char });

        element.dispatchEvent(keydownEvent);
        element.dispatchEvent(keypressEvent);
        element.value += char; // Thêm ký tự vào ô tìm kiếm
        element.dispatchEvent(inputEvent);
        element.dispatchEvent(keyupEvent);
      });
    }

    typeText(searchInput, decodeURIComponent(urlHash)); // Nhập nội dung từ URL vào ô tìm kiếm
  }
});

</script>
