{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<script>
document.addEventListener("DOMContentLoaded", function() {
    const hash = window.location.hash.substring(1);  // Lấy phần sau dấu #

    if (hash) {
        const searchInput = document.getElementById("search-input");

        if (searchInput) {
            // Đặt từ khóa vào ô tìm kiếm
            searchInput.value = hash;

            // Tạo và dispatch sự kiện input
            const inputEvent = new Event('input', { bubbles: true });
            searchInput.dispatchEvent(inputEvent);

            // Kích hoạt cửa sổ tìm kiếm bằng cách thêm lớp 'search-active'
            document.documentElement.classList.add('search-active');
        }
    }
});
</script>
