{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const searchInput = document.getElementById('search-input');

  const urlHash = window.location.hash.substring(1); 
  if (urlHash) {
    searchInput.value = decodeURIComponent(urlHash); 

    // Kích hoạt chuỗi sự kiện
    searchInput.dispatchEvent(new Event('input', { bubbles: true }));
    searchInput.dispatchEvent(new Event('change', { bubbles: true }));
  }
});


</script>
