<!-- <script src="/cppdocs/assets/js/redirect.js"></script> -->

<script>
document.addEventListener("DOMContentLoaded", function() {
    const hash = window.location.hash.substring(1);  // Lấy phần sau dấu #

    if (hash) {
        const searchInput = document.getElementById("search-input");

        if (searchInput) {
            // Đặt từ khóa vào ô tìm kiếm
            searchInput.value = hash;

            // Tạo và dispatch sự kiện input
            const inputEvent = new Event('input', { bubbles: true });
            searchInput.dispatchEvent(inputEvent);

            // Tạo interval để kiểm tra và kích hoạt sự kiện input cho đến khi nội dung hiển thị
            const intervalId = setInterval(() => {
                // Dispatch sự kiện input để hệ thống tìm kiếm cập nhật
                searchInput.dispatchEvent(inputEvent);
            }, 200); // Thời gian giữa các lần kích hoạt

            // Dừng kích hoạt sau một khoảng thời gian
            setTimeout(() => clearInterval(intervalId), 2000);  // Dừng sau 2 giây
        }
    }
});

</script>
